# In this notebook will cover  data mining techiques unsing Theta Data and YahooFinance.

In [4]:
!pip install thetadata

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting thetadata
  Downloading thetadata-0.9.8-py3-none-any.whl (24 kB)
Collecting ijson (from thetadata)
  Downloading ijson-3.2.0.post0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (113 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 113.3/113.3 kB 9.3 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from thetadata) (1.5.3)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from thetadata) (5.9.5)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from thetadata) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from thetadata) (4.65.0)
Collecting wget (from thetadata)
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->thetadata) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->thetadata) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->thetadata) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->thetadata) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->thetadata) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->thetadata) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->thetadata) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->thetadata) (1.16.0)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9657 sha256=ee7ed9cb3f9e0c75b8a086c74f8a78605da89e810b8752707a10f5f656cad398
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget, ijson, thetadata
Successfully installed ijson-3.2.0.post0 thetadata-0.9.8 wget-3.2

In [5]:
import yfinance as yf
import numpy as np
import pandas as pd
import datetime
import time
import pandas as pd
from IPython.display import display
from datetime import date
from thetadata import ThetaClient, OptionReqType, OptionRight, DateRange

In [6]:
client = ThetaClient()  # We don't need to provide a username / password because this is a free request.

with client.connect():  # Make any requests for data inside this block. Requests made outside this block wont run.
    data = client.get_hist_option(
          req=OptionReqType.EOD,
          root="AAPL",
          exp=date(2022, 11, 25),
          strike=150,
          right=OptionRight.CALL,
          date_range=DateRange(date(2020, 10, 15), date(2022, 11, 27))
    )

# We are out of the client.connect() block, so we can no longer make requests.
display(data)  # displays the data. You can also do print(data).

If you require API support, feel free to join our discord server! http://discord.thetadata.us
------------------------------------------------------------------------------------------------
You are using the free version of Theta Data. You are currently limited to 20 requests / minute.
A data subscription can be purchased at https://thetadata.net. If you already have a ThetaData
subscription, specify the username and passwd parameters.
------------------------------------------------------------------------------------------------
Starting Theta Terminal [v0.9.7 REV: A]  --> Config: /root/ThetaData/ThetaTerminal/config_0.properties
Configuration file not found: created a default config file.
[MDDS] Attempting login as default
[MDDS] CONNECTED: [nj-a.thetadata.us:12001], Bundle: FREE, Permissions: End of Day(EOD)
[FPSS] Attempting login as default

,DataType.OPEN,DataType.HIGH,DataType.LOW,DataType.CLOSE,DataType.VOLUME,DataType.COUNT,DataType.DATE
0,6.22,6.25,6.15,6.25,5,5,2022-10-06
1,4.47,4.47,3.75,3.90,60,24,2022-10-07
2,3.93,4.44,3.33,4.22,168,50,2022-10-10
3,3.85,4.10,3.26,3.43,92,42,2022-10-11
4,3.67,3.78,3.25,3.30,87,35,2022-10-12
5,2.27,4.75,2.20,4.69,160,88,2022-10-13
6,4.75,4.75,3.05,3.14,109,36,2022-10-14
7,3.75,4.22,3.55,4.10,903,82,2022-10-17
8,4.95,5.47,3.40,4.40,208,73,2022-10-18
9,4.20,4.85,3.91,4.38,132,40,2022-10-19
10,4.27,4.95,3.82,4.04,218,62,2022-10-20
11,3.90,5.85,3.90,5.60,246,82,2022-10-21
12,5.61,7.00,4.95,6.52,563,156,2022-10-24
13,7.02,8.05,6.54,7.93,1957,231,2022-10-25
14,7.20,7.60,5.60,6.25,554,182,2022-10-26
15,5.57,6.00,4.15,4.40,549,162,2022-10-27
16,5.81,10.35,5.50,9.19,1570,280,2022-10-28
17,7.25,7.80,6.73,7.00,318,65,2022-10-31
18,8.45,8.45,4.90,5.52,574,156,2022-11-01
19,4.60,6.10,2.75,2.92,2337,269,2022-11-02
20,1.80,2.58,1.07,1.07,2193,386,2022-11-03
21,1.83,1.83,0.52,0.91,2331,466,2022-11-04
22,0.76,0.86,0.59,0.85,1654,297,2022-11-07
23,0.98,1.12,0.65,0.86,2647,417,2022-11-08
24,0.69,0.69,0.39,0.40,2006,472,2022-11-09
25,0.98,2.30,0.70,2.26,9737,1077,2022-11-10
26,1.89,3.65,1.45,3.36,9804,1633,2022-11-11
27,3.05,3.35,2.23,2.37,12062,1948,2022-11-14
28,4.30,5.40,2.72,3.15,8917,1579,2022-11-15
29,2.57,3.05,1.87,2.22,8609,1761,2022-11-16
30,1.31,3.60,1.31,3.06,19287,3550,2022-11-17
31,3.85,4.00,2.49,2.89,30774,4041,2022-11-18
32,2.20,2.31,0.78,0.81,67236,9715,2022-11-21
33,0.77,1.38,0.41,1.30,86194,12703,2022-11-22
34,0.81,2.18,0.67,1.42,60705,10993,2022-11-23
35,0.08,0.75,0.01,0.01,40491,3612,2022-11-25

In [7]:
def yf_get_chains(ticker):
    """
    Loads option chains data for a particular ticker from Yahoo Finance
    """

    underlying = yf.Ticker(ticker)  # addressing the underlying asset of an options
    expiration_dates = underlying.options  # and dates of expiration

    opt_data = pd.DataFrame()  # constructing the dataframe we will return

    for ed in expiration_dates:
        opt = underlying.option_chain(ed)  # getting data for a specific date

        calls, puts = opt.calls, opt.puts  # call and puts
        calls['optionType'], puts['optionType'] = 'call', 'put'  # adding types of options to the df

        ed_chain = pd.concat([calls, puts])
        ed_chain['expDate'] = pd.to_datetime(ed) + pd.DateOffset(hours=23, minutes=59, seconds=59)
        # adding date of expiration

        opt_data = pd.concat([opt_data, ed_chain])  # adding data to the main df

    opt_data['daysToExp'] = (opt_data.expDate - datetime.datetime.today()).dt.days + 1
    # additionally let's compute days until expiration date

    return opt_data

In [8]:
df = yf_get_chains("JPM")

In [9]:
df.head(20)

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,optionType,expDate,daysToExp
0,JPM230609C00075000,2023-05-25 17:33:34+00:00,75.0,60.35,64.70,66.35,0.000000,0.000000,NaN,1,1.828126,True,REGULAR,USD,call,2023-06-09 23:59:59,7
1,JPM230609C00100000,2023-06-02 18:50:39+00:00,100.0,41.37,40.10,41.05,-0.130001,-0.313256,1.0,3,1.140629,True,REGULAR,USD,call,2023-06-09 23:59:59,7
2,JPM230609C00110000,2023-05-24 17:45:13+00:00,110.0,25.90,29.90,31.25,0.000000,0.000000,NaN,1,0.855470,True,REGULAR,USD,call,2023-06-09 23:59:59,7
3,JPM230609C00115000,2023-06-01 19:03:45+00:00,115.0,23.22,24.70,26.45,0.000000,0.000000,5.0,10,0.718753,True,REGULAR,USD,call,2023-06-09 23:59:59,7
4,JPM230609C00120000,2023-06-02 19:45:19+00:00,120.0,20.95,20.30,21.00,3.850000,22.514622,7.0,2,0.644535,True,REGULAR,USD,call,2023-06-09 23:59:59,7
5,JPM230609C00123000,2023-04-28 19:48:59+00:00,123.0,16.26,14.10,14.45,0.000000,0.000000,1.0,1,0.000010,True,REGULAR,USD,call,2023-06-09 23:59:59,7
6,JPM230609C00124000,2023-05-23 17:07:12+00:00,124.0,14.41,16.20,16.90,0.000000,0.000000,2.0,2,0.642582,True,REGULAR,USD,call,2023-06-09 23:59:59,7
7,JPM230609C00125000,2023-06-01 13:47:39+00:00,125.0,11.86,15.35,16.05,0.000000,0.000000,5.0,12,0.529302,True,REGULAR,USD,call,2023-06-09 23:59:59,7
8,JPM230609C00126000,2023-05-25 15:39:52+00:00,126.0,9.66,14.35,15.00,0.000000,0.000000,1.0,7,0.611332,True,REGULAR,USD,call,2023-06-09 23:59:59,7
9,JPM230609C00127000,2023-06-02 14:06:25+00:00,127.0,13.13,13.15,13.85,3.730001,39.680855,1.0,1,0.529302,True,REGULAR,USD,call,2023-06-09 23:59:59,7
10,JPM230609C00128000,2023-06-02 13:42:35+00:00,128.0,12.19,12.30,12.85,5.059999,70.967735,30.0,37,0.498052,True,REGULAR,USD,call,2023-06-09 23:59:59,7
11,JPM230609C00129000,2023-06-02 19:34:36+00:00,129.0,12.22,11.35,11.85,5.870000,92.440950,20.0,18,0.466314,True,REGULAR,USD,call,2023-06-09 23:59:59,7
12,JPM230609C00130000,2023-06-02 19:46:23+00:00,130.0,11.00,10.25,10.95,5.450000,98.198200,6.0,159,0.463384,True,REGULAR,USD,call,2023-06-09 23:59:59,7
13,JPM230609C00131000,2023-06-02 19:32:22+00:00,131.0,10.14,9.30,9.90,5.360000,112.133880,9.0,30,0.416510,True,REGULAR,USD,call,2023-06-09 23:59:59,7
14,JPM230609C00132000,2023-06-02 17:42:05+00:00,132.0,9.35,8.30,9.00,4.120000,78.776300,3.0,76,0.408697,True,REGULAR,USD,call,2023-06-09 23:59:59,7
15,JPM230609C00133000,2023-06-02 18:22:55+00:00,133.0,8.56,7.35,7.90,3.260000,61.509438,8.0,45,0.349616,True,REGULAR,USD,call,2023-06-09 23:59:59,7
16,JPM230609C00134000,2023-06-02 19:06:50+00:00,134.0,7.55,6.40,6.95,3.200000,73.563200,6.0,76,0.327155,True,REGULAR,USD,call,2023-06-09 23:59:59,7
17,JPM230609C00135000,2023-06-02 19:43:58+00:00,135.0,6.18,5.55,5.95,2.570000,71.191100,218.0,737,0.291999,True,REGULAR,USD,call,2023-06-09 23:59:59,7
18,JPM230609C00136000,2023-06-02 19:59:15+00:00,136.0,4.80,4.55,5.00,2.220000,86.046524,103.0,679,0.265632,True,REGULAR,USD,call,2023-06-09 23:59:59,7
19,JPM230609C00137000,2023-06-02 19:58:06+00:00,137.0,3.93,3.70,3.95,2.130000,118.333340,226.0,550,0.218270,True,REGULAR,USD,call,2023-06-09 23:59:59,7

In [ ]:
import time

underlying = 'JPM'




for row in range(df.shape[0]):
  print(row, 'out of 1021', end=' ')

  time.sleep(3) # Sleep for 3 seconds

  date_ = str(df.iloc[row]['expDate']).split('-')
  y, m, d = int(date_[0]), int(date_[1]), int(date_[2].split()[0])

  strike_ = df.iloc[row]['strike']
  option_type = df.iloc[row]['optionType']


  
  prices = get_prices(y, m, d, strike_, underlying, option_type)
  print('timeseries size is', prices.shape[0])

By finging needed timeseries lenght acessing

In [12]:
def get_prices(y, m, d, strike_, underlying, option_type):
  with client.connect():  # Make any requests for data inside this block. Requests made outside this block wont run.
      if option_type == 'call':
        right_ = OptionRight.CALL
      else:
        right_ = OptionRight.PUT

      data = client.get_hist_option(
            req=OptionReqType.EOD,
            root = underlying,
            exp = date(y, m, d),
            strike = strike_,
            right = right_,
            date_range=DateRange(date(2020, 1, 1), date(2023, 6, 30))
    
      )
      return data

In [13]:
prices = get_prices(2024, 1, 19, 150, 'JPM', 'call') # get_prices(y, m, d, strike_, underlying, option_type)

In [14]:
prices.shape

(398, 7)

In [17]:
prices.head(5)

,DataType.OPEN,DataType.HIGH,DataType.LOW,DataType.CLOSE,DataType.VOLUME,DataType.COUNT,DataType.DATE
0,26.12,26.12,26.12,26.12,1,1,2021-09-13
1,27.86,27.89,25.20,25.20,48,7,2021-09-14
2,26.00,26.00,26.00,26.00,1,1,2021-09-16
3,22.60,22.65,22.60,22.65,2,2,2021-09-20
4,23.21,23.38,23.21,23.38,12,3,2021-09-21

In [15]:
prices.info

<bound method DataFrame.info of      DataType.OPEN  DataType.HIGH  DataType.LOW  DataType.CLOSE  \
0            26.12          26.12         26.12           26.12
1            27.86          27.89         25.20           25.20
2            26.00          26.00         26.00           26.00
3            22.60          22.65         22.60           22.65
4            23.21          23.38         23.21           23.38
..             ...            ...           ...             ...
393           5.70           6.00          5.45            5.80
394           5.60           5.90          5.40            5.65
395           5.30           5.35          4.82            5.10
396           5.20           5.80          5.16            5.42
397           5.90           6.85          5.90            6.69

     DataType.VOLUME  DataType.COUNT DataType.DATE
0                  1               1    2021-09-13
1                 48               7    2021-09-14
2                  1               1    2021-09-16
3                  2               2    2021-09-20
4                 12               3    2021-09-21
..               ...             ...           ...
393               33              25    2023-05-26
394              207              25    2023-05-30
395               52              25    2023-05-31
396              225              50    2023-06-01
397              152              33    2023-06-02

[398 rows x 7 columns]>

In [16]:
prices.describe

<bound method NDFrame.describe of      DataType.OPEN  DataType.HIGH  DataType.LOW  DataType.CLOSE  \
0            26.12          26.12         26.12           26.12
1            27.86          27.89         25.20           25.20
2            26.00          26.00         26.00           26.00
3            22.60          22.65         22.60           22.65
4            23.21          23.38         23.21           23.38
..             ...            ...           ...             ...
393           5.70           6.00          5.45            5.80
394           5.60           5.90          5.40            5.65
395           5.30           5.35          4.82            5.10
396           5.20           5.80          5.16            5.42
397           5.90           6.85          5.90            6.69

     DataType.VOLUME  DataType.COUNT DataType.DATE
0                  1               1    2021-09-13
1                 48               7    2021-09-14
2                  1               1    2021-09-16
3                  2               2    2021-09-20
4                 12               3    2021-09-21
..               ...             ...           ...
393               33              25    2023-05-26
394              207              25    2023-05-30
395               52              25    2023-05-31
396              225              50    2023-06-01
397              152              33    2023-06-02

[398 rows x 7 columns]>

In [ ]:
prices.to_csv('JPM240119C00150000.csv', index=False)