In [1]:
import pandas as pd
import numpy as np

# CBOE

In [10]:
pd.read_csv('/Users/artemilin/Downloads/monthly_volume_2023.csv').head(10)

  Trade Month Options Class Underlying Product Type Exchange  Volume
0     2023/01            2A          A            S     CBOE     276
1     2023/01             A          A            S     CBOE    1575
2     2023/01            AA         AA            S     CBOE   86253
3     2023/01           AAC        AAC            S     CBOE     367
4     2023/01          AAIC       AAIC            S     CBOE      15
5     2023/01           AAL        AAL            S     CBOE  356158
6     2023/01           AAN        AAN            S     CBOE     692
7     2023/01          AAOI       AAOI            S     CBOE     614
8     2023/01          AAON       AAON            S     CBOE       6
9     2023/01           AAP        AAP            S     CBOE    3314

In [12]:
pd.read_csv('/Users/artemilin/Downloads/weekly_volume_JPM_2023-05-08_2023-05-15.csv')

,Trade Date,Options Class,Underlying,Product Type,Exchange,Average Daily Volume
0,2023/05/08,JPM,JPM,S,BATS,3510
1,2023/05/08,JPM,JPM,S,C2,2727
2,2023/05/08,JPM,JPM,S,CBOE,5186
3,2023/05/08,JPM,JPM,S,EDGX,3024
4,2023/05/15,JPM,JPM,S,BATS,3105
5,2023/05/15,JPM,JPM,S,C2,2993
6,2023/05/15,JPM,JPM,S,CBOE,7198
7,2023/05/15,JPM,JPM,S,EDGX,2257

# historicaloptiondata.com

In [13]:
pd.read_csv('/Users/artemilin/Downloads/Sample_L3_20190815/L3_stockquotes_20190815.csv').head(10)

,symbol,quotedate,open,high,low,close,volume,adjustedclose
0,A,8/15/2019,71.9400,72.65,69.4200,69.5900,6659766,69.5900
1,AA,8/15/2019,17.6000,17.74,16.6814,16.9200,3940287,16.9200
2,AABA,8/15/2019,70.1600,70.22,69.8500,69.9000,3863849,69.9000
3,AAC,8/15/2019,0.6892,0.70,0.5000,0.6189,1436267,0.6189
4,AAL,8/15/2019,26.2000,26.31,25.1400,25.4100,10026227,25.4100
5,AAN,8/15/2019,64.0400,64.05,62.0779,62.5000,365467,62.5000
6,AAOI,8/15/2019,9.2100,9.28,8.7872,8.8800,658329,8.8800
7,AAON,8/15/2019,44.6500,45.64,44.3400,45.3700,80218,45.3700
8,AAP,8/15/2019,137.2100,138.27,135.4600,137.5000,1926530,137.5000
9,AAPL,8/15/2019,203.4600,205.14,199.6700,201.7400,27092117,201.7400

In [14]:
pd.read_csv('/Users/artemilin/Downloads/Sample_L3_20190815/L3_options_20190815.csv').head(10)

,UnderlyingSymbol,UnderlyingPrice,Flags,OptionSymbol,Type,Expiration,DataDate,Strike,Last,Bid,...,OpenInterest,T1OpenInterest,IVMean,IVBid,IVAsk,Delta,Gamma,Theta,Vega,AKA
0,A,69.59,*,A190816C00042500,call,08/16/2019,08/15/2019,42.5,0.00,25.05,...,0,0,1.0356,0.0,16.8732,1.0,0.0,-0.9762,0.0,A190816C00042500
1,A,69.59,*,A190816P00042500,put,08/16/2019,08/15/2019,42.5,0.00,0.00,...,0,0,1.2329,0.0,7.0399,0.0,0.0,0.0000,0.0,A190816P00042500
2,A,69.59,*,A190816C00045000,call,08/16/2019,08/15/2019,45.0,0.00,22.35,...,0,0,1.0356,0.0,15.4143,1.0,0.0,-1.0336,0.0,A190816C00045000
3,A,69.59,*,A190816P00045000,put,08/16/2019,08/15/2019,45.0,0.00,0.00,...,0,0,1.2329,0.0,6.2996,0.0,0.0,0.0000,0.0,A190816P00045000
4,A,69.59,*,A190816C00047500,call,08/16/2019,08/15/2019,47.5,0.00,19.85,...,0,0,1.0356,0.0,13.8022,1.0,0.0,-1.0910,0.0,A190816C00047500
5,A,69.59,*,A190816P00047500,put,08/16/2019,08/15/2019,47.5,0.12,0.00,...,29,29,1.2329,0.0,5.5947,0.0,0.0,0.0000,0.0,A190816P00047500
6,A,69.59,*,A190816C00050000,call,08/16/2019,08/15/2019,50.0,21.05,17.30,...,9,7,1.0356,0.0,11.0532,1.0,0.0,-1.1484,0.0,A190816C00050000
7,A,69.59,*,A190816P00050000,put,08/16/2019,08/15/2019,50.0,0.07,0.00,...,19,19,1.2329,0.0,4.1668,0.0,0.0,0.0000,0.0,A190816P00050000
8,A,69.59,*,A190816C00055000,call,08/16/2019,08/15/2019,55.0,0.00,12.50,...,0,0,1.0356,0.0,10.0757,1.0,0.0,-1.2633,0.0,A190816C00055000
9,A,69.59,*,A190816P00055000,put,08/16/2019,08/15/2019,55.0,0.10,0.00,...,216,216,1.2329,0.0,3.0612,0.0,0.0,0.0000,0.0,A190816P00055000

In [15]:
pd.read_csv('/Users/artemilin/Downloads/Sample_L3_20190815/L3_optionstats_20190815.csv').head(10)

,symbol,quotedate,iv30call,iv30put,iv30mean,iv60call,iv60put,iv60mean,iv90call,iv90put,...,iv180mean,iv360call,iv360put,iv360mean,callvol,putvol,totalvol,calloi,putoi,totaloi
0,A,8/15/2019,0.2709,0.2735,0.2722,0.2687,0.2766,0.2726,0.2631,0.2783,...,0.2757,0.2551,0.2948,0.2750,3976,3915,7891,25738,25259,50997
1,AA,8/15/2019,0.5076,0.5055,0.5066,0.5181,0.5187,0.5184,0.5060,0.5108,...,0.4746,0.4517,0.4763,0.4640,2146,5041,7187,135267,65906,201173
2,AABA,8/15/2019,0.0694,0.0694,0.0694,0.0474,0.0801,0.0638,0.0559,0.0890,...,0.0524,0.0591,0.0610,0.0600,3004,834,3838,271246,147220,418466
3,AAC,8/15/2019,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0,0,0,1821,88,1909
4,AAL,8/15/2019,0.4256,0.4281,0.4268,0.4246,0.4198,0.4222,0.4334,0.4331,...,0.4152,0.4083,0.4104,0.4094,37024,26647,63671,460090,289525,749615
5,AAN,8/15/2019,0.3259,0.3310,0.3284,0.3249,0.3442,0.3346,0.3770,0.3829,...,0.3732,0.3335,0.2334,0.2834,315,72,387,5912,9360,15272
6,AAOI,8/15/2019,0.7704,0.6666,0.7185,0.6627,0.6738,0.6682,0.7010,0.7062,...,0.7222,0.7100,0.7258,0.7179,2047,248,2295,32701,20275,52976
7,AAON,8/15/2019,0.3556,0.3575,0.3566,0.3602,0.3526,0.3564,0.3570,0.3504,...,0.3425,0.1781,0.3820,0.2800,10,44,54,314,1360,1674
8,AAP,8/15/2019,0.3026,0.3082,0.3054,0.3062,0.3126,0.3094,0.3146,0.3212,...,0.3186,0.3090,0.3262,0.3176,403,807,1210,16090,16573,32663
9,AAPL,8/15/2019,0.3081,0.2978,0.3030,0.3056,0.2940,0.2998,0.3148,0.3092,...,0.2860,0.2813,0.2770,0.2792,221503,197967,419470,1754521,1711971,3466492

# APPL Option chains 2016-2019

In [16]:
option_chains = pd.read_csv('/Users/artemilin/Downloads/archive/aapl_2016_2020.csv')

/var/folders/xd/xm863f553v750zss70sl77sc0000gn/T/ipykernel_3636/1844879101.py:1: DtypeWarning: Columns (8,9,10,11,12,15,17,18,20,21,23,24,25,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  option_chains = pd.read_csv('/Users/artemilin/Downloads/archive/aapl_2016_2020.csv')

In [17]:
option_chains.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1546462800,2019-01-02 16:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,0.90886,0.00019,...,0.01,-0.00034,0.00011,0.00079,-0.00509,-0.00041,1.625550,0.000000,57.9,0.367
1,1546462800,2019-01-02 16:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.0,0.0,...,0.01,-0.00069,0.0001,0.00039,-0.00518,-0.0001,1.461900,200.000000,52.9,0.335
2,1546462800,2019-01-02 16:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.0,0.0,...,0.04,-0.00066,0.0002,0.0,-0.00425,-0.00009,1.305490,706.000000,47.9,0.303
3,1546462800,2019-01-02 16:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.0,0.0,...,0.01,-0.0012,0.00021,0.00089,-0.00434,-0.00005,1.155130,0.000000,42.9,0.272
4,1546462800,2019-01-02 16:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.0,0.0,...,0.01,-0.00109,0.00024,0.00045,-0.00429,-0.0002,1.010620,0.000000,37.9,0.240

In [19]:
opt_chains_1546462800 = option_chains[ option_chains['[QUOTE_UNIXTIME]'] == 1546462800]
opt_chains_1546462800.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1546462800,2019-01-02 16:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,0.90886,0.00019,...,0.01,-0.00034,0.00011,0.00079,-0.00509,-0.00041,1.625550,0.000000,57.9,0.367
1,1546462800,2019-01-02 16:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.0,0.0,...,0.01,-0.00069,0.0001,0.00039,-0.00518,-0.0001,1.461900,200.000000,52.9,0.335
2,1546462800,2019-01-02 16:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.0,0.0,...,0.04,-0.00066,0.0002,0.0,-0.00425,-0.00009,1.305490,706.000000,47.9,0.303
3,1546462800,2019-01-02 16:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.0,0.0,...,0.01,-0.0012,0.00021,0.00089,-0.00434,-0.00005,1.155130,0.000000,42.9,0.272
4,1546462800,2019-01-02 16:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.0,0.0,...,0.01,-0.00109,0.00024,0.00045,-0.00429,-0.0002,1.010620,0.000000,37.9,0.240

In [21]:
opt_chains_1546462800.columns

Index(['[QUOTE_UNIXTIME]', ' [QUOTE_READTIME]', ' [QUOTE_DATE]',
       ' [QUOTE_TIME_HOURS]', ' [UNDERLYING_LAST]', ' [EXPIRE_DATE]',
       ' [EXPIRE_UNIX]', ' [DTE]', ' [C_DELTA]', ' [C_GAMMA]', ' [C_VEGA]',
       ' [C_THETA]', ' [C_RHO]', ' [C_IV]', ' [C_VOLUME]', ' [C_LAST]',
       ' [C_SIZE]', ' [C_BID]', ' [C_ASK]', ' [STRIKE]', ' [P_BID]',
       ' [P_ASK]', ' [P_SIZE]', ' [P_LAST]', ' [P_DELTA]', ' [P_GAMMA]',
       ' [P_VEGA]', ' [P_THETA]', ' [P_RHO]', ' [P_IV]', ' [P_VOLUME]',
       ' [STRIKE_DISTANCE]', ' [STRIKE_DISTANCE_PCT]'],
      dtype='object')

In [24]:
opt_chains_1546462800[' [QUOTE_DATE]'].unique()

array([' 2019-01-02'], dtype=object)

If you require API support, feel free to join our discord server! https://discord.thetadata.us
------------------------------------------------------------------------------------------------
You are using the free version of Theta Data. You are currently limited to 20 requests / minute.
A data subscription can be purchased at https://thetadata.net. If you already have a ThetaData
subscription, specify the username and passwd parameters.
------------------------------------------------------------------------------------------------

URLError: <urlopen error [Errno 61] Connection refused>